body{
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding: 10px;
    gap: 10px;
}

.menu{
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 20px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
}

.menuToggle{
    display: none;
}

.foto img{
    height: 180px;
    width: 180px;
    border-radius: 100%;
}

.profile{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.profile label{
    margin: 4px;
    font-size: 1.2em;
}
.profile h2,h4{
    margin: 4px;
}

.config{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.config a{
    text-align: center;
    text-decoration: none;
    margin-bottom: 0;
    margin: 5px;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
    background-color: #cc092f;
    padding: 10px;
    border-radius: 10px;
}

.config ion-icon{
    color: white;
    margin: 0 6px;
}


.operacao{
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.operacao table{
    width: 100%;
    text-transform: uppercase;
    border-radius: 10px;
}

.operacao th, td{
    border: 2px solid #ad1030;
    padding: 5px;
    width: 33%;
    text-align: center;
    border-radius:5px;
}

.projetos{
    height: 100%;
    width: 100%;
    border: 2px solid #ad1030;
    margin-bottom: 5px;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    overflow: auto;
}

.projetos::-webkit-scrollbar{
    display: none;
}

.crud button{
    border: none;
    font-size: 1.2em;
    background-color: #fff;
    cursor: pointer;
}

#chat{
    height: 100%;
    width: 100%;
    border: 2px solid #ad1030;
    padding: 5px;
    border-radius: 10px;
}

#chat .historico{
    height: 300px;
    background-color: rgb(96, 94, 94);
    border-radius: 5px;
}

#chat .input{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

#chat .input input{
    width: 100%;
    border: none;
    padding: 5px;
    font-weight: bold;
    background-color: rgba(231, 23, 23, 0);
    border-radius: 15px;
}

#chat-input:focus{
    background-color: #ff003323;
    border-radius: 10px;
    outline: none;
}

#chat .input button{
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    width: 10%;
    margin-top: 5px;
    background-color: rgba(25, 5, 5, 0);
}

#chat .input:hover button{
    color: var(--red);
}

ion-icon:hover{
    color: var(--red);
}

@media screen and (max-width: 800px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    #chat .historico{
        height: 200px;
    }

    .menuToggle{
        display: contents;
        width: 100%;
        padding: 0;
        margin: 10px;
    }

    .menuToggle button{
        border: none;
        cursor: pointer;
        height: 100%;
        width: 100%;
        font-size: 2em;
        background-color: white;
    }
    .info{
        display: none;
    }
    .active{
        display: flex;
        flex-direction: column;
    }
    .note{
        display: none;
    }
}